/Applications/
/Creative Cloud Files/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/

# exclude .bash*, .git*, .zshrc, .vimrc, .tmux.conf
/.[!b,g,z,v,t]*

# .bash_history, .bash_sessions
/.bash_[s,h]*

# .vim/ and .viminfo
/.vim*

/.zsh_history
/.Trash/
